{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% block title %}
{% endblock %}

<div class="row justify-content-center">
    <form class="col-3" method="post" oninput="calc_sleep_time()">
        {% csrf_token %}
        
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
        
        {% block more_fields %}
        {% endblock %}
    
        {% for error in form.max_limit.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <div class="mb-3">
            <label for="{{ form.max_limit.name }}" class="form-label">{{ form.max_limit.label }}</label>
            <input id="id_{{ form.max_limit.name }}" class="form-control" type="number" name="{{ form.max_limit.name }}" step="0.01" required="">
        </div>
    
        {% for error in form.min_limit.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <div class="mb-3">
            <label for="min_limit" class="form-label">{{ form.min_limit.label }}</label>
            <input id="id_min_limit" class="form-control" type="number" name="min_limit" step="0.01" required="">
        </div>
        
        {% for error in form.sleep_time.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <label for="min_limit" class="form-label">{{ form.sleep_time.label }}</label>
        <div class="input-group mb-3">
            <input id="id_days" name="days" class="form-control" type="number" required="" value=0>
            <span class="input-group-text" id="basic-addon2">Dias</span>
        </div>
        <div class="input-group mb-3">
            <input id="id_remain_hours" name="remain_hours" class="form-control" type="time" required="" value="00:00">
            <span class="input-group-text" id="basic-addon2">Horas</span>
        </div>
        <input id="id_sleep_time" class="form-control" type="text" name="sleep_time" required="" hidden>
        <div class="row">
            <button type="submit" class="btn btn-success" value="Save">Salvar</button>
        </div>
    </form>
    <script type="text/javascript">
        function calc_sleep_time(){
            days = $("#id_days").val()
            remain_hours = $("#id_remain_hours").val()
    
            if (parseInt(days) == 0) {
                sleep_time = remain_hours
            }else if (parseInt(days) == 1){
                sleep_time = days + " day, " + remain_hours
            }else{
                sleep_time = days + " days, " + remain_hours
            }
            $('#id_sleep_time').val(sleep_time)
        }
    </script>
</div>
{% endblock %}